* {
    padding: 0;
    margin: 0;
    text-align: center;
}

h1 {
    height: 3rem;
    line-height: 3rem;
    background-color: rgb(22, 25, 51);
    color: white;
}

.option {
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.options {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin-top: 3rem;
}

.option:hover {
    cursor: pointer;
    background-color: black;
}

.score-board {
    margin-top: 4rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    gap: 5rem;
    font-size: 2rem;
}

.your-score,
.comp-score {
    font-size: 3rem;
}

.msg {
    font-size: 2rem;
    padding: 1rem;
    display: inline;
    color: white;
    background-color: rgb(37, 37, 101);
    border-radius: 1rem;
}

.msg:hover {
    background-color: rgb(96, 23, 165);
}

@media screen and (min-width : 393px) and (max-width : 767px) {
    h1 {
        width: 900px;
    }

    .options,
    .score-board {
        width: 900px;
    }

    .msg {
        width: 500px;
        margin-left: 160px;
    }
}
